
<br/>
<% @workspace.each do |w| %>
<br/>


	<b>Name:  </b> <%= w.Name %>
<p>
	<% w.Projects.each do |p| %>
	<br>
	<b>Project: </b> <%= link_to p, controller: "rally", action: "show",:id => p.ObjectID %><br>

<% end %>
</p>
<% end %>