
<br/>
<% @projects.each do |r| %>
<br/>
<% r.ObjectID %>
<p><b>Name: <%= r.Name %> </b> <br>
<%= r.ObjectID %>
<% r.Iterations.each do |i| %>
<p><%= link_to i, controller: "rally", action: "details", id: i.ObjectID %></p>
<% end %>
	<% end %>
